<div class="container">
    <header class="text-center">
        <h1>User Management</h1>
    </header>
    
    <div id="add-and-search-user">
        <div class="row justify-content-between align-items-center p-5">
        <h2 class="col-10">Users</h2>
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-sm btn btn-secondary" data-toggle="modal" data-target="#add-user">Add User</button>
        
        </div>
    </div>
    <div id="user-list">

        <div class="row justify-content-between align-items-center p-5">
            <input id="search-input" ng-model="$ctrl.query" placeholder="Search Users by Name..." class="col-10">
            <button id="search-button" class="col-1 btn btn-secondary btn-sm">Search</button>
        </div>

        <div class="row">
            <ul class="d-flex list-unstyled flex-wrap">
                <li ng-repeat="user in $ctrl.users | filter:$ctrl.query" class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card d-flex flex-row m-2">
                        <img class="card-img-left d-none d-lg-block d-md-block" ng-src="{{user.picture}}" alt="{{user.name}}">
                        <div class="card-body d-flex flex-column col-md-8 col-sm-12">
                            <span>{{user.name}}<label class="icon"><i class="fas fa-pencil-alt"></i></label></span>
                            
                            <p>{{user.phone}}</p>
                            <p>{{user.address}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="add-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong class="modal-title" id="exampleModalLabel">Add User</strong>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form>
                                <div class="form-group">
                                    <label for="name">Name</label><input type="text" class="form-control" id="name" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label for="contact-no">Contact No</label>
                                    <input type="number" class="form-control" id="contact-no" placeholder="Enter contact no">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" placeholder="Enter address">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>