<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit project Details</title>

</head>
<body>
	<div>
		<form th:object="${employeeSkill}" th:action="@{../employeeSkills}" method="post" >
			<input type="hidden"  th:field="*{id}" />
			<br>
			<label>Employee Name:</label> 
			<select th:field = "*{employeeId}">
				<option th:each="emp : ${employee}" th:value = "${emp.id}" th:text = "${emp.firstName}"/>
			</select>
			<br/>
			<label>Skills:</label> 
			<select name="employeeSkillsId" multiple="multiple">
				<option th:each="skill : ${skills}" th:value = "${skill.id}" th:text = "${skill.name}"/>
			</select>
				<!-- <ul>
			        <li th:each="skill : ${skills}">
					    <input type="checkbox" th:field="*{skillId}" th:text = "${skill.name}"
					     th:value = "${skill.id}" name="employeeSkill"/>
			        </li>
			    </ul> -->
			
			<button type="submit" class="btn btn-primary">Save</button>

		</form>
	</div>
</body>
</html>