<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="ISO-8859-1">
<title>Search Employee</title>
</head>
<body>
	
	<form th:action="@{searchEmployee}" method="post">
		<label>Search By:</label>
		<select name = "searchBy">
			<option value="By Name">By Name</option>
			<!-- <option value="By Project">By Project</option>
			<option value="By Skills">By Skills</option>
			<option value="By Total Experience">By Total Experience</option> -->
		</select>
		<br/>
		<label>Search Value:</label>
		<input type="text" name="searchValue" placeholder="Search Value"/>
		<input type="submit" value="Submit"/>
	</form>
</body>
</html>