*{
    font-family: sans-serif; 
}
body {
    padding: 0px;
    margin: 0px;
    background-image: url(../images/bodybg.png);
}
h1 {
    color: #4876FF;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
#header li,
#footer li{
    display: inline-block;
}
#header {
    display: flex;
    justify-content: space-around;
    background-image: url(../images/homebg.png);
    align-items: center;
}
#cover {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    background-image: url(../images/homebg.png);
    background-size: cover;
    padding:150px 0px;  
}
#cover-heading h1{
    color: white;
    font-size: 50px;
    line-height: 30px;
}
#cover-heading > h1:nth-of-type(2) {
    margin-bottom: 100px;
}
#cover-heading a{
    padding: 20px;
    border-radius: 5px;
}
#cover-heading a:nth-of-type(1){
    background-color: #f9682a;
}
#cover-heading a:nth-of-type(2){
    background-color: #1440ad;
}
#cover-img img{
    width: 80%;
}
#perfect-features-head > p,
#screenshots-header > p,
#reviews-heading > p,
#footer-bottom > p{
    color: gray;
    text-align: center;
}
#perfect-features,
#screenshots{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#features,
.screenshots-description,
.review-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#features{
    width: 70%;
    margin-top: 30px;   
}
.features-img{
    width: 20%;
}
.features-img img{
    max-width: 100%;
} 
.features-disc{
    width:60%;
}
#perfect-features-img{
    margin-top: 20px;
    position: relative;
}
#perfect-features-img img:nth-child(1){
    z-index: -1;
    position: absolute;
    left: -150px;
    top: 70px;
}
#perfect-features-img img:nth-child(3){
    z-index: -1;
    position: absolute;
    right: -170px;
    top: 70px;
}
.screenshots-description{
    width: 70%;
    margin-top: 30px;
    margin-top: 30px;
}
.screenshots-img{
    width: 25%;
    position: relative;
}
screenshots-img img{
    width: 100%;
}
.screenshots-text{
    width: 50%;
    box-sizing: border-box;
    margin-top: 100px;
}
#screenshots div:nth-child(2n) .screenshots-text {
    margin-left: 150px;
}
#screenshots div:nth-child(2n+1) .screenshots-text {
    margin-right: 100px;
}
.screenshots-image-circle{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    font-size: 20px;
    padding-top: 35px;
    box-sizing: border-box;
    color: white;
}
.screenshots-img div:nth-of-type(2) {
    left:230px;
    top:150px;
}
#circle-cloudy{
    background-color: #f4e64b;
}
#circle-15-degree{
    background-color: #2675d6;
}
#circle-cloudy2{
    background-color: #f2b526;
}
#circle-25-degree{
    background-color: #d66c26;
}
#circle-rainy{
    background-color: #a6ede7;
}
#circle-9-degree{
    background-color: #434549;
}
.screenshots-img div:nth-of-type(3) {
    left:-85px;
    bottom: 150px;
}
.screenshots-background-text{
    position: absolute;
    font-size: 170px;
    left: 80px;
    transform: rotate(90deg);
    bottom: 190px;
    color: gainsboro;
    z-index: -1;
}
.download-img img,
.screenshots-text img{
    max-width: 100%;
}
.rainy{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.rainy > div{
    border: 1px dotted grey;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 18px;
    box-sizing: border-box;
    color: gray;
    position: absolute;
    font-size: 13px;
    transform: rotateY(-10deg);
    background-color: white;
}
.rainy > div:nth-child(1){
    left: 80px;
}
.rainy > div:nth-child(2){
    left: 40px;
}
.rainy > div:nth-child(3){
    left: 0px;
}
#reviews-says{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#reviews-says > div:nth-child(2){
    margin-top: 20px;
}
.review-column{
    width: 50%;
}
.review-column > i {
    color: #6388FB;
   font-size: 150%;
}
.person{
    font-size: 13px;
}
.review-column i:nth-of-type(2){
    float: right;
    margin-right: 50px;
}
#how-to-download-app{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
    background-image: url(../images/homebg.png);
    color: white;
    padding-top: 40px;
}
#how-to-download-app h1{
    color: white;
}
.download-text {
    width: 25%;
}
.download-img{
    padding-top: 40px;
    width: 40%;
}
#footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2F2F4F;
}
#footer hr{
    width: 80%;
}
#footer > div:nth-child(1){
    display: flex;
    justify-content: space-around;
    align-items: center;
}
